// === MEDIA QUERIES ===

// Small Screens ----- +
@media all and (min-width: 375px) {
  html {
    font-size: 42%;
  }
}

// Medium sized screens ------ +
@media all and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }

  body {
    &::after {
      height: 100%;
    }
  }

  .pageWrapper {
    justify-content: center;
    width: 90%;
  }

  .resultsContainer {
    padding: 250px 50px;
  }
}

// Large Screens ----- +
@media all and (min-width: 900px) {
  .pageWrapper {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
  }

  header {
    width: 27%;
  }

  main {
    width: 68%;
  }

  .quizContainer {
    height: 100%;
    padding: 25px 15px;
  }

  .resultsContainer {
    padding: 150px 100px;
  }
}
