// === MEDIA QUERIES ===

// Small Screens ----- +
@media all and (min-width: 375px) {
  html {
    font-size: 42%;
  }
}

// Medium sized screens ------ +
@media all and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 9rem;
  }

  .resultsContainer {
    padding: 250px 50px;
  }
}

// Large Screens ----- +
@media all and (min-width: 900px) {
  .pageWrapper {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
  }

  header {
    width: 27%;
  }

  .continue {
    display: none;
  }

  main {
    width: 68%;
  }

  .quizWrapper {
    display: block;
  }

  .quizContainer {
    height: 100%;
    padding: 25px 15px;
  }

  .quizOption {
    background: transparent;
    box-shadow: none;
  }

  .resultsContainer {
    padding: 150px 100px;
  }
}
