.buttons {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

button {
  border: none;
  background: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 25px 0 10px 0;
  transition: color 300ms, transition 300ms;
  text-transform: uppercase;
  &:hover {
    color: $black;
    cursor: pointer;
    transform: scale(1.04);
  }
}
