.quizWrapper,
.resultsWrapper,
.modalWrapper {
  background: rgba(245, 245, 245, 0.15);
  border-radius: 15px;
  padding: 2%;
  margin: 0 auto;
}

.quizContainer,
.resultsContainer {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

.quizContainer {
  background: $white;
  color: $black;
}

.resultsContainer {
  background: rgba(18, 18, 18, 0.85);
  color: $white;
  padding: 100px 20px;
  width: 100%;
}

.quizOptionsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  width: 98%;
  margin: 0 auto;
}

.quizOption {
  align-items: flex-start;
  display: flex;
  border-radius: 10px;
  margin: 1% 0;
  padding: 10px 0 50px 0;
  position: relative;
  transition: 700ms background, 350ms box-shadow;
  width: 49%;
  &:hover,
  &.mobile {
    background: rgba(218, 214, 213, 0.7);
    box-shadow: 0 2px 3px rgba(128, 128, 128, 0.4);
  }
  &.selected {
    background: lighten($primary, 10);
  }
}

label {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
  left: 0;
  padding-bottom: 5px;
  position: absolute;
  top: 0;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
