.quizWrapper {
  background: rgba(245, 245, 245, 0.1);
  border-radius: 15px;
  padding: 2%;
  margin: 0 auto;
}

.quizContainer {
  align-items: center;
  background: rgb(242, 239, 238);
  color: #333;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 20px 15px 20px;
}

.quizOptionsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-transform: uppercase;
  width: 99%;
}

.quizOption {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 1% 0;
  padding: 30px 0;
  transition: 700ms background, 350ms box-shadow;
  width: 49%;
  &:hover {
    cursor: pointer;
    background: rgba(218, 214, 213, 0.7);
    box-shadow: 0 2px 3px rgba(128, 128, 128, 0.4);
  }
}

.imgWrapper {
  width: 42%;
}

label {
  width: 100%;
}
