// === TYPOGRAPHY ===
html {
  // font-size: 40%;
  font-size: 32.5%;
}

h1,
h2 {
  font-weight: 700;
  padding: 15px 0;
  text-transform: uppercase;
}

h1 {
  font-size: 9rem;
}

p {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.5;
}

h2,
label,
button {
  color: $black;
  text-align: center;
}

h2 {
  font-size: 4.5rem;
  font-weight: 900;
  padding: 10px 0;
}

label {
  font-size: 3rem;
  font-weight: 300;
}

header p {
  font-size: 2.5rem;
  font-weight: 300;
}

.resultsContainer h2 {
  color: $white;
  text-align: left;
}
